@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-dotted {
    background: #000000;
    background-image: radial-gradient(#252525 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -19px -19px;
  }
}

html, body {
  height: 100%;
  width: 100%
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #000000;
}

.path-stroke-2 > path {
  stroke-width: 2;
}

.path-stroke-3 > path {
  stroke-width: 3;
}

.scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
}
.scrollbar::-webkit-scrollbar:vertical {
  width: 10px;
}
.scrollbar::-webkit-scrollbar:horizontal {
  height: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 0.3rem;
  border: 2px solid #111;
}
.scrollbar::-webkit-scrollbar-track {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #111;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}